@import url('https://fonts.googleapis.com/css?family=Cinzel');
html, body {
  font-family: 'Tangerine', serif;
  font-size: 48px;
  margin: 0;
  padding: 0;
  font-weight: 300;
  background-color: #000;
  color: #fff;
}
h1, h2, h3, h4, h5, h6 {
  /*text-transform: uppercase;*/
  font-family: 'Tangerine', serif;

}
h1 {
  /*font-size: 2.5em;*/
}


/*main*/
.main {
  /*background-color: #000;*/
  /*color: #fff;*/
}

/*jumbotron*/
.jumbotron {
  /*background-color: #000;*/
  /*color: #fff;*/
}